# Project exclude paths
/out/
/.idea/libraries
.intino/
.idea/uiDesigner.xml
.idea/workspace.xml
gen/
temp
www
runtime-elements/node_modules
runtime-elements/package.json
runtime-elements/package-lock.json
runtime-elements/webpack.config.js